# comment
#  指定したいファイルを除外  e.g. index.html
#  ルートディレクトリを指定  e.g. /root.html
#  ディレクトリ以下を除外    e.g. dir/
.gitkeep
Thumbs.db
*.class
*.png
*.jpg
build.fxbuild
.project
.classpath
.settings/
bin/
doc/
first.txt
